<h1>フォルダーの内容</h1>
<div class="row clearfix">
	<div class="col-lg-3">
		<%= render 'user/folders/template', folders: @folders %>
	</div>

	<div class="col-lg-9">
		<% i = 1 %>
		<% @folder_contents.each do |folder_content| %>
			<%= link_to user_user_path(folder_content.post.user.id) do %>
				<%= attachment_image_tag folder_content.post.user, :profile_image, :fill, 180, 180, fallback: "no_image.jpg", size:'180x180' %>
			<% end %>
			<p class="post_title"><%= folder_content.post.post_title %></p>
			<p><%= folder_content.post.link %></p>
			<p><%= folder_content.folder.user.name %></p>
			<div class= "move<%= i %>"><span class="glyphicon glyphicon glyphicon-arrow-left " aria-hidden="true"></span></div>
			<%= form_tag(user_user_folder_folder_content_path(current_user.id, folder_content.folder_id, folder_content.id), method: :patch) do %>
				<div class= "folder_move_list<%= i %>"><%= collection_select :folder_content, :folder_id, current_user.folders, :id, :folder_name %>
					<%= submit_tag '移動' %>
				</div>
			<% end %>
			<% i += 1 %>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	let posts = document.querySelectorAll('.post_title')
</script>
