<h1>質問の新規投稿</h1>

<%= link_to user_user_path(current_user.id) do %>
	<%= attachment_image_tag current_user, :profile_image, :fill, 180, 180, fallback: "no_image.jpg", size:'180x180' %>
<% end %>
<%= form_for @question, url: user_questions_path do |f| %>
	<p> <%= current_user.name %>
		<%= f.text_field :question_title %>
	</p>
	<p><%= f.text_area :question_body, size: "100x10", class: "form-control" %></p>
	<p><%= f.submit %></p>
<% end %>



<p><%= link_to 'トップページ', user_root_path %></p>
<p><%= link_to '新規投稿', new_user_post_path %></p>
<p><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %></p>


