<% if @question.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>
		<ul>
			<% @question.errors.full_messages.each do |message| %>
			 <il><%= message %></il>
			 <% end %>
		</ul>
	</div>
<% end %>

<div class = "container">
	<div class="row clearfix">
		<h1>New Question</h1>
		<div class="info_box">
			<%= form_for @question, url: user_questions_path do |f| %>
				<h4>タイトル</h4>
				<h4><%= f.text_field :question_title, class:"form-control" %></h4>
				<h4>質問の内容</h4>
				<h4><%= f.text_area :question_body, class:"form-control", size: "100x10" %></h4>
				<h4><%= f.submit '質問する' %></h4>
			<% end %>
		</div>
	</div>
</div>

