
<div class = "container">
	<div class="row">
		<div class="col-lg-1">
		</div>
		<div class="col-lg-8">
			<h3><%= link_to "管理者としてログイン中　ログアウト", destroy_admin_session_path, method: :delete %></h3>
			<h3><%= link_to "トップページへ", admin_root_path %></h3>
			<h1 class="profile_image">お問い合わせ一覧</h1>
			<% @contacts.each do |contact| %>
				<div class= "info_box">

					<div class= "info_1">
						<p><%= contact.created_at.strftime('%Y/%m/%d') %></p>
						<h4><%= contact.name %></h4>
						<h4><%= contact.email %></h4>
						<p><%= contact.contact_body %></p>
						<h3><%= link_to '削除', admin_contact_path(contact.id), method: :delete %></h3>
					</div>
				</div>
			<% end %>
			<%= paginate @contacts, class: "paginate" %>
		</div>
	</div>
</div>
