<div class = "container">
	<div class="row">
		<div class="col-lg-3 folder_template">
			<%= render 'user/folders/template', folders: @folders %>
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-8">
			<% if @user == current_user %>
				<div class="ribbon6">
		  			<h1>My Page!</h1>
				</div>
			<% else %>
				<div class="ribbon6">
		  			<h1>Welcome to My Page!</h1>
				</div>
			<% end %>
			<div class="profile_info flex">
				<div >
					<div>
						<%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", size:'300x300', class: "profile_img frame#{@user.evolution.to_i}" %>
					</div>
					<h3 class="user_name"><%= @user.name %> さん</h3>
					<h3>LEVEL <%= @user_level %></h3>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style= "width: <%= @user.point.to_i % 100 %>%" >
							<%= @user.point.to_i % 100 %>
						</div>
					</div>
					<div class="flex">
						<h4>称号</h4>
						<h3 class="degree"><%= @user.degree_management.degree.degree_name %></h>
					</div>
					<% if current_user %>
						<p><%= link_to '進化する！', user_evolution_path(@user.id), class: "btn btn-lg btn-danger evolution_btn" %></p>
					<% end %>

				<% if @user.id != current_user.id %>
			  		<% if @isRoom == true %>
				    	<%= link_to "DMを送る", user_user_room_path(current_user.id, @roomId), class:"btn btn-primary user-show-room" %>
					<% else %>
				    	<%= form_for @room, url: user_user_rooms_path(current_user.id), method: :post do |f| %>
				      		<%= fields_for @entry do |e| %>
				        		<%= e.hidden_field :user_id, value: @user.id %>
				    		<% end %>
				      	<%= f.submit "DMを始める", class:"btn btn-primary btn-lg user-show-chat"%>
				    	<% end %>
				  	<% end %>
				<% end %>

				<p><%=link_to "フォロー", follows_user_user_path(@user.id) %></p>
				<p><%=link_to "フォロワー", followers_user_user_path(@user.id) %></p>
				<% if @user != current_user %>
				    <% if @user.followed_by?(current_user) %>
				        <p><%=link_to "フォロー済み", user_user_relationships_path(@user.id), method: :delete %></p>
				    <% else %>
				        <p><%=link_to "フォローする", user_user_relationships_path(@user.id), method: :post %></p>
				    <% end %>
				<% end %>

				</div>
				<div class="profile_info">
					<h3 class="profile_title">プロフィール</h3>

					<a data-toggle="modal" data-target="#userModal">
						<span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true" style="font-size:30px;"></span>
					</a>
					<% if @user.age == 0 %>
						<h4>年齢　非公開</h4>>
					<% else %>
						<h4>年齢 <%= @user.age %></h4>
					<% end %>
					<h4>性別　<%= @user.gender %></h4>
					<% if @user.birthday == nil %>
						<h4>誕生日　未設定</h4>
					<% else %>
					　	<h4>誕生日　<%= @user.birthday %></h4>
					<% end %>
						<div class="text_box">
	    					<span class="box-title">自己紹介</span>
	    					<p><%= @user.introduction %></p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="userModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-title">マイページ編集</h3>
			</div>
				<%= form_for @user, url: user_user_path(@user.id), method: :patch do |f| %>
					<div class="modal-body">
						<h4>プロフィール画像</h4>
						<h4><%= f.attachment_field :profile_image %></h4>
						<h4>年齢</h4>
						<h4><%= f.number_field :age, min:0, max:100, class:"form-control" %></h4>
						<h4>性別 <%= f.radio_button :gender, "男性" %> 男性 <%= f.radio_button :gender, "女性" %> 女性</h4>
						<h4>誕生日 <%= f.date_select :birthday %></h4>
						<h4>自己紹介</h4>
						<h4><%= f.text_area :introduction, size: "10x10", class:"form-control" %></h4>
						<h4>称号</h4>
						<h4><%= f.collection_select :id, @degrees, :id, :degree_name, selected: @user.degree_management.degree.degree_name, class: "folder-move" %></h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">閉じる</button>
						<%= f.submit '登録する', class: "button" "btn btn-sm btn-primary" %>
					</div>
				<% end %>
		</div>
	</div>
</div>

	<p><%= link_to '質問一覧', user_questions_path %></p>

