<h1>マイページ</h1>
<%= @user.name %>
<%= attachment_image_tag @user, :profile_image, :fill, 180, 180, fallback: "no_image.jpg", size:'180x180' %>
<h3>プロフィール</h3>
<p>年齢<%= @user.age %></p>
<p>性別<%= @user.gender %></p>
<p>誕生日<%= @user.birthday %></p>
<p>誕生日<%= @user.introduction %></p>



<p><%= link_to '記事編集', edit_user_post_path %></p>
<p><%= link_to 'トップページ', user_root_path %></p>
<p><%= link_to '新規投稿', new_user_post_path %></p>
<p><%= link_to 'お問い合わせ', new_user_contact_path %></p>
<p><%= link_to '質問一覧', user_questions_path %></p>
<p><%= link_to '新規質問', new_user_question_path %></p>
<p><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %></p>

