
<div class = "container">
	<div class="row">
		<div class="col-lg-3 folder_template">
			<%= render 'user/folders/template', folders: @folders %>
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-8">
			<% if @user.errors.any? %>
			  	<div id="error_explanation" class="alert alert-danger">
			    	<ul>
			      		<% @user.errors.full_messages.each do |message| %>
			        		<li><%= message %></li>
			      		<% end %>
			    	</ul>
			  	</div>
			<% end %>

			<% if @user == current_user %>
				<div class="ribbon6">
		  			<h1>My Page!</h1>
				</div>
			<% else %>
				<div class="ribbon6">
		  			<h1>Welcome to My Page!</h1>
				</div>
			<% end %>
			<div class="profile_info flex">
				<div>
					<div>
						<%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", class: "profile_img frame#{@user.evolution.to_i}", size:'300x300' %> <!-- ユーザーの進化状態に応じて枠の色が変化 -->
					</div>
					<h3 class="user_name"><%= @user.name %> さん</h3>
					<h3>LEVEL <%= @user_level %></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style= "width: <%= @user.point.to_i % 100 %>%" > <!-- 経験値のメーター -->
							<%= @user.point.to_i % 100 %> <!-- 経験値のメーター内の数値 -->
						</div>
					</div>
					<div class="flex">
						<h4>称号</h4>
						<h3 class="degree"><%= @user.degree_management.degree.degree_name %></h>
					</div>
					<div class="dm_btn_box flex">
						<div>
							<% if @user.id != current_user.id %>
						  		<% if @isRoom == true %>
							    	<%= link_to "DMを送る", user_user_room_path(current_user.id, @roomId), class:"btn btn-primary btn-lg user-show-room" %>
								<% else %>
							    	<%= form_for @room, url: user_user_rooms_path(current_user.id), method: :post do |f| %>
							      		<%= fields_for @entry do |e| %>
							        		<%= e.hidden_field :user_id, value: @user.id %>
							    		<% end %>
							      	<%= f.submit "DMを始める", class:"fbtn btn-primary btn-lg user-show-chat"%>
							    	<% end %>
							  	<% end %>
							<% end %>
						</div>
						<div>
							<% if (@user.point/1000) > @user.evolution && @user == current_user %>
								<p class="evolution_btn"><%= link_to '進化する！', user_evolution_path(@user.id), class: "btn btn-lg btn-danger evolution_btn" %></p>
							<% end %>
						</div>
					</div>
					<% if @user != current_user %>
					    <% if @user.followed_by?(current_user) %>
					        <h3><%=link_to "フォロー済み", user_user_relationships_path(@user.id), method: :delete %></h3>
					    <% else %>
					        <h3><%=link_to "フォローする", user_user_relationships_path(@user.id), method: :post %></h3>
					    <% end %>
					<% end %>
					<h3><%=link_to "フォロー一覧", follows_user_user_path(@user.id), class:"btn btn-primary btn-lg" %></h3>
					<h3><%=link_to "フォロワー一覧", followers_user_user_path(@user.id), class:"btn btn-info btn-lg" %></h3>
					<% if @user == current_user %>
	                	<h3><%= link_to "お問い合わせ",  new_user_contact_path, class:"btn btn-success btn-lg" %></h3>
						<h3><%= link_to '退会', user_registration_path, method: :delete, "data-confirm" => "本当に退会しますか？", class:"btn btn-danger btn-lg" %></h3>
					<% end %>
				</div>
				<div class="profile_info">
					<h3 class="profile_title">プロフィール</h3>

					<% if @user == current_user %>
						<a data-toggle="modal" data-target="#userModal">
							<span class="glyphicon glyphicon-edit" aria-hidden="true" style="font-size:30px;"></span>
						</a>
					<% end %>
					<% if @user.age == 0 %>
						<h4>年齢　非公開</h4>
					<% else %>
						<h4>年齢　<%= @user.age %></h4>
					<% end %>
					<h4>性別　<%= @user.gender %></h4>
					<div class="text_box col-lg-9">
    					<span class="box-title">自己紹介</span>
						<div class="box2">
							<p class="user_introduction"><%= simple_format(@user.introduction) %></p> <!-- 文章の改行を反映 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- マイページ編集のモーダルの記述 -->
<div class="modal fade" id="userModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-title">マイページ編集</h3>
			</div>
			<%= form_for @user, url: user_user_path(@user.id), method: :patch do |f| %>
				<div class="modal-body">
					<h4>プロフィール画像</h4>
					<h4><%= f.attachment_field :profile_image %></h4>
					<h4>年齢</h4>
					<h4><%= f.number_field :age, min:0, max:100, class:"form-control" %></h4>
					<h4>性別 <%= f.radio_button :gender, "男性" %> 男性 <%= f.radio_button :gender, "女性" %> 女性</h4>
					<h4>自己紹介</h4>
					<h4><%= f.text_area :introduction, size: "10x10", class:"form-control" %></h4>
					<h4>称号</h4>
					<h4><%= f.collection_select :id, @degrees, :id, :degree_name, selected: @user.degree_management.degree.degree_name, :selected => @user.degree_management.id.to_i, class: "folder-move" %></h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">閉じる</button>
					<%= f.submit '登録する', class: "button" "btn btn-sm btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
