<% if @contact.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@contact.errors.count, "error") %> prohibited this post from being saved:</h2>
		<ul>
			<% @contact.errors.full_messages.each do |message| %>
			 <il><%= message %></il>
			 <% end %>
		</ul>
	</div>
<% end %>

<div class = "container">
	<div class="row">
		<h1>New Contact</h1>
		<div class="info_box">
			<%= form_for @contact, url: user_contacts_path, method: :post do |f| %>
				<h4>お名前</h4>
				<h4><%= f.text_field :name, class:"form-control" %></h4>
				<h4>メールアドレス</h4>
				<h4><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></h4>
				<h4>お問い合わせ内容</h4>
				<h4><%= f.text_area :contact_body, class:"form-control", size: "100x10" %></h4>
				<h4><%= f.submit '投稿する' %></h4>
			<% end %>
		</div>
	</div>
</div>
