
<div class = "container">
	<div class="row">
		<% if @post.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
				<ul>
					<% @post.errors.full_messages.each do |message| %>
			 			<il><%= message %></il>
			 		<% end %>
				</ul>
			</div>
		<% end %>
		<h1>New Post</h1>
		<div class="info_box">
			<%= form_for @post, url: user_posts_path, method: :post do |f| %>
				<h4>タイトル</h4>
				<h4><%= f.text_field :post_title, class:"form-control" %></h4>
				<h4>URL</h4>
				<h4><%= f.text_field :link, class:"form-control" %></h4>
				<h4>記事の内容</h4>
				<h4><%= f.text_area :post_body, class:"form-control", size: "100x10" %></h4>
				<h4><%= f.submit '投稿する' %></h4>
			<% end %>
		</div>
	</div>
</div>
