<div class = "container">
	<div class="row">
		<div class="col-lg-3 folder_template">
			<%= render 'user/folders/template', folders: @folders %>
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-8 clearfix">
		<h1 class="page_title">記事の詳細</h1>
			<%= link_to user_user_path(@post.user.id) do %>
				<%= attachment_image_tag @user, :profile_image, :fill, 180, 180, fallback: "no_image.jpg", size:'180x180' %>
			<% end %>
			<h2><%= @post.post_title %></h2>
			<p><%= @post.link %></p>
			<h3><%= @post.user.name %></h3>
			<div class="text_box">
				<span class="box-title">記事の内容</span>
				<p><%= @post.post_body %></p>
			</div>
			<h4><%= @post.post_body %></h4>

			<% if user_signed_in? %>
			    <% if @post.favorited_by?(current_user) %>
			        <%=link_to user_post_favorite_path(@post.id, @post.user.id), method: :delete do %>
	 					<h1><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span><%= @post.favorites.count %></h1>
			        <% end %>
			    <% else %>
			        <%=link_to user_post_favorites_path(@post.id), method: :post do %>
			        	<h1><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= @post.favorites.count %></h1>
			        <% end %>
			    <% end %>
		  	<% else %>
			    <p><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span><%= post.favorites.count %></p>
			<% end %>
				<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#bookmarkModal">ブックマーク</button>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#commentModal">コメント</button>
			<% if @post.user == current_user %>
				<%= link_to '記事削除', user_post_path(@post.id), method: :delete %>
			<% end %>

			<% @post_comments.each do |post_comment| %>
				<p>
					<%= post_comment.created_at.strftime('%Y/%m/%d') %>
					<%= link_to user_user_path(post_comment.user.id) do %>
						<%= post_comment.user.name %>
					<% end %>
					<%= post_comment.comment_body %>
					<% if post_comment.user == current_user %>
						<%= link_to '削除', user_post_comment_path(@post, post_comment.id), method: :delete %>
					<% end %>
				</p>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="bookmarkModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-header">ブックマーク登録</h3>
			</div>
			<%= form_for @folder_content, url: user_folder_contents_create_path(@post.id), method: :post do |f| %>
				<div class="modal-body">
					<h4>タイトル　<%= f.text_field :folder_contents_title, class:"form-control" %></h4>
					<h4><%= f.collection_select :folder_id, current_user.folders, :id, :folder_name, class:"form-control" %></h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					<%= f.submit '登録する', class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">コメント</h4>
			</div>
			<%= form_for [@post, @post_comment], url: user_post_comments_path(@post.id) do |f| %>
				<div class="modal-body">
					<%= f.text_area :comment_body, class:"form-control", size: "10x5" %>
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">閉じる</button>
				<%= f.submit '送信', class: "btn btn-sm btn-primary" %>
			<% end %>
			</div>
		</div>
	</div>
</div>

