<% if @post.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
		<ul>
			<% post.errors.full_messages.each do |message| %>
			 <il><%= message %></il>
			 <% end %>
		</ul>
	</div>
<% end %>

<div class = "container">
	<div class="row">
		<div class="col-lg-3 folder_template">
			<%= render 'user/folders/template', folders: @folders %>
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-8">
			<% if flash[:notice] %>
  				<h3 class="get_point"><%= flash[:notice] %></h3>
			<% end %>
			<h1 class="page_title_show">Post Details</h1>
			<div class="flex">
				<div class="profile_image_box">
					<%= link_to user_user_path(@post.user.id) do %>
						<%= attachment_image_tag @post.user, :profile_image, :fill, 180, 180, fallback: "no_image.jpg", size:'180x180' %>
					<% end %>
				</div>
				<div class= "user_show_info">
					<h1 class="post_title_show"><%= @post.post_title %></h1>
					<a href="<%= @post.link %>"><%= @post.link %></a>
					<h3><%= @post.user.name %></h3>
				</div>
			</div>
				<div class="text_box col-lg-12">
					<span class="box-title">記事の内容</span>
					<h4><%= @post.post_body %></h4>
				</div>
			<% if user_signed_in? %>
			    <% if @post.favorited_by?(current_user) %>
			        <%=link_to user_post_favorite_path(@post.id, @post.user.id), method: :delete do %>
	 					<h1><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span><%= @post.favorites.count %></h1>
			        <% end %>
			    <% else %>
			        <%=link_to user_post_favorites_path(@post.id), method: :post do %>
			        	<h1><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= @post.favorites.count %></h1>
			        <% end %>
			    <% end %>
		  	<% else %>
			    <p><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span><%= post.favorites.count %></p>
			<% end %>
				<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#bookmarkModal">ブックマーク</button>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#commentModal">コメント</button>
				<% if @post.user == current_user %>
					<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#edit_postModal">編集する</button>
					<h4><%= link_to '記事削除', user_post_path(@post.id), method: :delete %></h4>
				<% end %>

			<% @post_comments.each do |post_comment| %>
				<div class="comment_info_box flex">
					<div class="comment_name">
						<h4><%= post_comment.created_at.strftime('%Y/%m/%d') %></h4>
						<%= link_to user_user_path(post_comment.user.id) do %>
							<h4><%= post_comment.user.name %></h4>
						<% end %>
					</div>
					<div class="comment_body">
							<h4><%= post_comment.comment_body %></h4>
						<% if post_comment.user == current_user %>
							<h4><%= link_to '削除', user_post_comment_path(@post, post_comment.id), method: :delete %></h4>
						<% end %>
					</div>
				</div>
			<% end %>
		<%= paginate @post_comments, class: "paginate" %>
		</div>
	</div>
</div>

<div class="modal fade" id="bookmarkModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-header">ブックマーク登録</h3>
			</div>
			<%= form_for @folder_content, url: user_folder_contents_create_path(@post.id), method: :post do |f| %>
				<div class="modal-body">
					<h4>タイトル　<%= f.text_field :folder_contents_title, value: @post.post_title, class:"form-control" %></h4>
					<h4><%= f.collection_select :folder_id, current_user.folders, :id, :folder_name, class:"form-control" %></h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					<%= f.submit '登録する', class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">コメント</h4>
			</div>
			<%= form_for [@post, @post_comment], url: user_post_comments_path(@post.id) do |f| %>
				<div class="modal-body">
					<%= f.text_area :comment_body, class:"form-control", size: "10x5" %>
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">閉じる</button>
				<%= f.submit '送信', class: "btn btn-sm btn-primary" %>
			<% end %>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit_postModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-title">マイページ編集</h3>
			</div>
			<%= form_for @post, url: user_post_path(@post.id), method: :patch do |f| %>
				<div class="modal-body">
					<h4>タイトル</h4>
					<h4><%= f.text_field :post_title, class:"form-control" %></h4>
					<h4>URL</h4>
					<h4><%= f.text_field :link, class:"form-control" %></h4>
					<h4>記事の内容</h4>
					<h4><%= f.text_area :post_body, class:"form-control", size: "100x10" %></h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">閉じる</button>
					<%= f.submit '登録する', class: "button" "btn btn-sm btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>