<!DOCTYPE html>
<html>
  <head>
    <title>BuzzLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track':'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track':'reload' %>
  </head>

  <body>
  <header>
    <% unless current_admin %>
      <div class="user-header">
        <%= link_to 'BuzzLink絆', user_posts_path, class: "header_logo", :style=>"color:#ffff28; font-size: 50px; text-decoration: none; position: absolute; top: 20px; left: 20px; font-family: cursive;" %>
        <nav>
          <% if user_signed_in? %>
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to "My page", user_user_path(current_user.id), :style=>"color:white;" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, :style=>"color:white;" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "contact",  new_user_contact_path, :style=>"color:white;" %>
              </li>
            </ul>
            <%= form_tag user_posts_path, :method => 'get' do %>
              <p class= "header-search">
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil %>
              </p>
            <% end %>
        </nav>

          <% else %>
            <nav>
              <ul class="nav-list">
                <li class="nav-list-item">
                  <%= link_to "Log in", new_user_session_path, :style=>"color:#fff; position: relative; bottom: 10px; " %>
                </li>
                <li class="nav-list-item">
                  <%= link_to "Sign up", new_user_registration_path, :style=>"color:#fff; position: relative; bottom: 10px; " %>
                   </li>
                <li class="nav-list-item">
                </li>
              </ul>

              <%= form_tag user_posts_path, :method => 'get' do %>
                <p class= "header-search">
                    <%= text_field_tag :search, params[:search] %>
                    <%= submit_tag "Search", :name => nil %>
                </p>
              <% end %>
            </nav>
          <% end %>
      </div>
    <% end %>
  </header>
      <%= yield %>
  </body>
</html>
